/************** Elementos comuns **************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {    
    font-family: 'Open Sans';
    background-color: #D7DBE6;
}

a{
    text-decoration: none;
}


div#header{
    width: 100%;
    height: 80px;
    background-color: #9092AB;
    margin: 0 auto;    
}

.teclado{
    display: block;
    
    
}

.teclado button{
    display: block;
    
    
}




.logo{
    float: left;
    margin-top: 25px;
    margin-left: 30px;
}

.logo a{
    font-size: 1.6em;
    color: #fff;
}

.logo a span{
    font-weight: 300;    
}

div#container{
    width: 100%;
    margin: 0 auto;
}

.sidebar{
    width: 250px;
    height: 100%;
    background-color: #7285C1;
    float: left;        
}

.content{
    width: auto;
    margin-left: 250px;
    height: calc(100% - 50px);
    background-color: #D7DBE6; 
    padding: 15px;
    padding-left: 25px;    
}

.content p{
    color: #424242;
    font-size: 0.8em;    
}

div#box {    
    width: 100%;
    margin-top: 20px;
    padding-right:50px; 
}

div#box .box-top{
    color: #FFF;
    text-shadow: 0px 1px #000;
    background-color: #9092AB;   
    padding: 5px;
    font-weight: 300;
    padding-left: 15px;
}

div#box .box-panel{
    padding: 15px;
    background-color: #FFF;
    color: #333;
}

ul#nav li span{
    padding-left: 10px;
    padding-right: 20px;
}

ul#nav li a{
    color: #FFF;
    display: block;
    padding: 15px;
    font-size: 1.2em;
    border-bottom: 2px solid #9092AB;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.25s;
}

ul#nav li a:hover{
    background-color: #272838;
    color: #FFF; 
    padding-left: 40px;
}

ul#nav li a.selected{
    background-color: #272838;
    color: #FFF; 
}