/************** Elementos comuns **************/

html, body {
    margin:0;
    padding:0;
}

body {
    background:#D7DBE6;
}

article, aside, section, header, footer, nav {
    display:block;                
}

main {
    width: 960px;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 10px;
    background: #A8B1D2;
}

header {
    margin-top: 10px;
    width: 960px;
    height: 80px;
    background-color: #9092AB;
}

header p{
    font-family: 'Bangers', cursive;
    font-size: 4em;
    align-content: center;
    display: inline-block;
    margin: 4px 293px;
    color: #FFF
}


nav {
    width: 960px;
    height: 40px;
    background-color: #9092AB;                    
}

nav ul{
    margin: 0;
    padding: 0;
    background-color: #7285C1;   
}

nav ul li{
    list-style-type: none;
    display: inline;     
    margin-left: 5em;
}

nav ul li a{
    display: inline-block;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Bangers', cursive;
    font-size: 1.75em;
    color: #FFF;
}

footer {
    height: 50px;
    background-color: #7285C1;
    clear: both;
    margin-bottom: 50px;
    position: relative;
}

footer p{
    font-family: 'Bangers', cursive;
    font-size: 1.75em;
    color: #fff;
    display: inline;
    padding-left: 11em;
    position: absolute;
    margin-top: 10px; 
    margin-bottom: 15px;     
}

/*************************************************/
/************** Classes: jogar.html **************/
/*************************************************/

.jogo{
    background-color: #D7DBE6;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    float: left;  
    /*clear: both;*/    
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.2em;
    height: 450px;
    margin-left: 20px;
    margin-top: 0em;
    margin-bottom: 1em;
    width: 550px;
}

.animacao{
    background-color: #D7DBE6;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    float: right;  
    /*clear: both;*/    
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.2em;
    height: 450px;
    margin-right: 20px;
    margin-bottom: 1em;
    width: 350px;    
}

.teclado{
    float: left;
    width: 940px;
    height: 110px;
    background-color: #D7DBE6;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    margin-left: 10px;
}

.wordbutton{
    margin-top: 15px;
    padding-left: 4px;
}

.numberbutton{
    margin-top: 15px;
    margin-left: 300px;
}

span: {        cursor: pointer;

    position: relative;
    float: left; 
    width: 30px;
    height: 30px;
    padding:  50px;
    border-radius: 5px;
    color: #FFF;
    background-color: #9092AB;
}

.button:hover{    
    margin: 1px 1px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #000;
    background-color: #FFF;
}

