<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="view/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
        <title>hangMan_Coder</title>   
        <link rel="shortcut icon" type="image/jpg" href="imagens/1-enforcado.jpg">
    </head>

    <body>
        <main>
            
            <header>
                <!--<img src="/imagens/FZN8U7NJCGKCTA9.LARGE.jpg" height="110" title="hangman" >--><p>HangMan_Coder</p>
            </header>            
            
            <nav>
                <ul>
                     <li><a href="index.html">Jogar</a></li>
                    <li><a href="rank.html">Ranking</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="aprendermais.html">Aprender Mais</a></li>
                </ul>
            </nav>
            <br>
            
            <div class="contlogin">
                <section class="login">                
                    <h1>LogIn</h1>                
                    <form id="formLogin" method="" action="">
                        <input id="usuario" type="text" name="login" placeholder="Login" ><br>
                        <input id="password" type="password" name="password" placeholder="Senha" ><br>
                        <input id="entrar" type="submit" name="entrar" value="ENTRAR"><br>   
                    </form>               
                </section>
                
                <section class="comojogar">
                    <h1>Como jogar</h1>   
                    <p>O objetivo do jogo é ter o maior número de acertos que poderão ser conseguidos com bônus por uma sequência de acertos sem nenhum erro e por pontuações maiores conforme o nível de dificuldade dos trechos de código das linguagens C, Java e Python.</p>
                    <p>O jogo se divide em sessões de usuários por nível de dificuldade (Iniciante, Intermediário e
                    Avançado).</p>
                    <p>Quando dois jogadores se conectam ao Jogo HANGMAN CODER e acessam a sessão com o nível de dificuldade desejado, o jogo se inicia com uma questão selecionada aleatoriamente no banco de dados e os usuários têm respectivamente 30,45,60 segundos para responder cada questão, conforme o nível selecionado.</p>

                    <p>O duelo é bem acirrado e por isso só termina quando um dos jogadores completar corretamente as lacunas do trecho de código ou quando o TIME zerar, e assim o placar é liberado para ambos os jogadores visualizarem a pontuação obtida neste duelo.</p>
                        
                    <p> O critério de pontuação segue o nível de dificuldade:</p>
                        <ul>
                            <li>Nível Iniciante - ganha 10 pontos</li>
                            <li>Nível Intermediário - ganha 20 pontos</li>
                            <li>Nível Avançado - ganha 30 pontos</li>
                        </ul>

                    <p>Existe ainda um bônus de 5 pontos, que é destinado aos usuários que preencherem corretamente as lacunas sem haver erros na tentativa.</p>

                    <p>Venha jogar e Aprenda a Programar com o HANGMAN CODER! </p>
                    
                </section>

                <section class="cadastro">                
                    <h1>Cadastro</h1>                
                    <form id="formCadastro" method="" action="">    
                        <input id="username" type="text" name="login" placeholder="Nome de usuário" required>
                        <br>
                        <input id="email" type="text" name="email" placeholder="E-mail" >
                        <br>
                        <input id="password" type="password" name="Confirmar" placeholder="Senha">
                        <br>
                        <input id="confpassword" type="password" name="Confirmar" placeholder="Confirmar Senha">
                        <br>
                        <input id="cadastrar" type="submit" name="cadastrar" value="CADASTRAR"><br>   
                    </form>               
                </section>
          </div>
            
        
          
            <footer><p>Desenvolvido por Grupo Forca</p></footer>
            
        </main>
    </body>
</html>
