<!doctype html>
<html>
    
    <head>
        <meta charset="utf-8">
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/jquery-3.3.1.min.js"></script>

        
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
        <title>hangMan_Coder</title>  
        <link rel="shortcut icon" type="image/jpg" href="imagens/1-enforcado.jpg">
        
    </head>

<body>
    
    <main>

        <header>
            <p>HangMan_Coder</p>
        </header>            

        <nav>
            <ul>
                <li><a href="jogar.html">Jogar</a></li>
                <li><a href="rank.html">Ranking</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="aprendermais.html">Aprender Mais</a></li>
            </ul>
        </nav>
        
        <br>
        
        <script src="js/script.js">inicio()</script>
        
        <section class="jogo"> 
            <h1>isso é um teste</h1>
            
            <h5> aqui vai a exepressão para advinhar </h5>
            
                
            <div class="linhas">_ _ _ _</div>
        
            
        </section>
        
        
         <section class="animacao">
        
        
        
        </section>
        
        

        <section class="teclado">
            <div class="wordbutton">
                <button type="button" onclick="press()">A</button> 
                <button type="button" onclick="press()">B</button>
                <button type="button" onclick="press()">C</button>
                <button type="button" onclick="press()">D</button>
                <button type="button" onclick="press()">E</button>
                <button type="button" onclick="press()">F</button>
                <button type="button" onclick="press()">G</button>
                <button type="button" onclick="press()">H</button>
                <button type="button" onclick="press()">I</button>
                <button type="button" onclick="press()">J</button>
                <button type="button" onclick="press()">K</button>
                <button type="button" onclick="press()">L</button>
                <button type="button" onclick="press()">M</button>
                <button type="button" onclick="press()">N</button>
                <button type="button" onclick="press()">O</button>
                <button type="button" onclick="press()">P</button>
                <button type="button" onclick="press()">Q</button>
                <button type="button" onclick="press()">R</button>
                <button type="button" onclick="press()">S</button>
                <button type="button" onclick="press()">T</button>
                <button type="button" onclick="press()">U</button>
                <button type="button" onclick="press()">V</button>
                <button type="button" onclick="press()">W</button>
                <button type="button" onclick="press()">X</button>
                <button type="button" onclick="press()">Y</button>
                <button type="button" onclick="press()">Z</button>
                <button type="button" onclick="press()">0</button> 
                <button type="button" onclick="press()">1</button>
                <button type="button" onclick="press()">2</button>
                <button type="button" onclick="press()">3</button>
                <button type="button" onclick="press()">4</button>
                <button type="button" onclick="press()">5</button>
                <button type="button" onclick="press()">6</button>
                <button type="button" onclick="press()">7</button>
                <button type="button" onclick="press()">8</button>
                <button type="button" onclick="press()">9</button>
            </div>
          
        </section>
        
        <footer><p>Desenvolvido por Grupo Forca</p></footer>
      
    </main>
</body>

</html>
