<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
        <title>hangMan_Coder</title> 
        <link rel="shortcut icon" type="image/jpg" href="imagens/1-enforcado.jpg">
    </head>

    <body>
        <main>
            
            <header>
                <!--<img src="/imagens/FZN8U7NJCGKCTA9.LARGE.jpg" height="110" title="hangman" >--><p>HangMan_Coder</p>
            </header>            
            
            <nav>
                <ul>
                     <li><a href="index.html">Jogar</a></li>
                    <li><a href="rank.html">Ranking</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="aprendermais.html">Aprender Mais</a></li>
                </ul>
            </nav>
            <br>
            
            <div class="salas">
                <section class="salasdejogo">
                    <h1>Escolha a sala por nível e por linguagem de programação</h1>   
                </section>

                
          </div>
            
        
          
            <footer><p>Desenvolvido por Grupo Forca</p></footer>
            
        </main>
    </body>
</html>
