<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="view/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <title>hangMan_Coder</title>  
        <link rel="shortcut icon" type="image/jpg" href="imagens/1-enforcado.jpg">
    </head>

    <body>
        <main>
            <header><img src="imagens/FZN8U7NJCGKCTA9.LARGE.jpg" height="110" title="hangman" ><p>HangMan_Coder</p></header>
            <nav>
                <ul>
                    <li><a href="index.html">Jogar</a></li>
                    <li><a href="rank.html">Ranking</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="aprendermais.html">Aprender Mais</a></li>
                </ul>
            </nav>

            <section class="regras">
                
                <h1>Sobre o HangMan_Coder</h1>
                <br>
                <p>O Hangman Coder foi desenvolvido visando unir diversão e aprendizado. Com foco nos entusiastas e profissionais de programação, é um jogo que pode ajudar o usuário a desenvolver suas habilidades a qualquer hora e em qualquer lugar, permitindo usar seu tempo livre para aprender enquanto joga.</p>
                <p>O jogo incentiva o aprendizado para usuários com conhecimentos de básico a avançado. É o usuário que escolhe o nível de desafio e a linguagem de programação dentre: Python, Java e C, e enfrenta um oponente que escolheu o mesmo nível.</p>               
            </section>
            

            <footer><p>Desenvolvido por Grupo Forca</p></footer>
        </main>
    </body>
</html>
